# turn rewriting on
RewriteEngine On

# /projects  →  ?page=projects
# getting tangled up with the next one?

# /page-name →                              ?page=page-name
RewriteRule ^([0-9a-zA-Z_-]+)$              ?page=$1 [NC,L]

# /projects/project-name  →                 ?page=projects&slug=project-slug
RewriteRule ^projects/([0-9a-zA-Z_-]+)$     ?page=project&slug=$1 [NC,L]

# /exercises/exercise-name  →                 ?page=exercises&slug=exercise-slug
RewriteRule ^exercises/([0-9a-zA-Z_-]+)$     ?page=exercise&slug=$1 [NC,L]

# /style-guide/modules/module-name  →                 ?page=style-guide/modules&slug=module-slug
RewriteRule ^style-guide/modules/([0-9a-zA-Z_-]+)$     ?page=module&slug=$1 [NC,L]
