
html {
	--ink: #333;
	--paper: wheat;
}


body {
	background-color: var(--paper);
	color: var(--ink);
}

.site-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.site-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
}

.site-menu a {
	display: block;
	padding: 10px;
}

.site-header .logo * {
	fill: var(--ink);
}