
body * {
	border: 1px solid rgba(0,0,0,.2);;
	padding: 4px;
}

.show-php inner-column {
	overflow: hidden;
}

.show-php inner-column * {
	border: 0;
}

/*[style="color: #0000BB"] {
	color: lime!important;
}*/

section:nth-of-type(odd) {
	/*background-color: rgba(0,0,0,.03);*/
}

/*picture img {
	opacity: 0;
}

picture {
	background-color: var(--shadow);
}*/
