
body * {
	border: 1px solid rgba(255,255,255,.4);;
	padding: 4px;
}

section:nth-of-type(odd) {
	/*background-color: rgba(0,0,0,.03);*/
}

/*picture img {
	opacity: 0;
}

picture {
	background-color: var(--shadow);
}*/
