/* P reset */
@import 'preset.css';

/* S etup */
@import 'setup.css';

/* S setings */
@import 'settings.css';
@import 'developer-styles.css';

/* S tructure */
@import 'structure.css';

/* T ypography */
@import 'typography.css';

/* C omponents */
@import 'components.css';

/* S tuff (modules) */
@import 'modules.css';
@import '../templates/partials/mast-head.css';

/* S ections and more stuff */

/* then other contextual styles */


/* MODULES */



/* THEME */
body {
	background-color: var(--paper);
	color: var(--ink);
}

.site-header inner-column {
	padding-top: 0;
	padding-bottom: 0;
}

.other-news {
	background-color: var(--ink);
	color: var(--paper);
}

.other-news graphic-diptych .graphic {
	background-color: var(--paper);
}

.other-news graphic-diptych .graphic {
	order: 2;
}

footer nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}












.show-code {
	display: block;
	padding: 10px;
	background-color: #222;
	color: lime;
}
