/* P reset */
@import 'preset.css';

/* S etup */
@import 'setup.css';

/* S setings */
@import 'settings.css';
@import 'developer-styles.css';

/* S tructure */
@import 'structure.css';

/* T ypography */
@import 'typography.css';

/* C omponents */
@import 'components.css';

/* S tuff (modules) */
@import 'modules.css';

/* S ections and more stuff */

/* then other contextual styles */


/* MODULES */
mast-head {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.site-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
}

.site-menu a {
	display: block;
	padding: 10px;
}

.site-header .logo * {
	fill: var(--ink);
}


/* THEME */
body {
	background-color: var(--paper);
	color: var(--ink);
}

.other-news {
	background-color: var(--ink);
	color: var(--paper);
}

.other-news graphic-diptych .graphic {
	background-color: var(--paper);
}

.other-news graphic-diptych .graphic {
	order: 2;
}













.show-code {
	display: block;
	padding: 10px;
	background-color: #222;
	color: lime;
}
